.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-background-image: url(FishPicture/12222.jpg);

}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

:flash-highlight{
    -fx-background-color:rgb(0, 0, 0);
}

Button{
    -fx-padding: 10 15 10 15;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-background-color:rgba(61, 155, 209, 0.808);
    -fx-text-fill: black;
    -fx-text-effect: bold;
}

