.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-effect: dropshadow(three-pass-box, rgba(12, 74, 207, 0.8), 10, 0, 0, 0);
}

.leftbutton {
    -fx-padding: 10;

}

.propview {
    -fx-padding: 10;
}

.current {
    -fx-effect: dropshadow(three-pass-box, rgba(12, 235, 23, 0.8), 10, 0, 0, 0);
 }
 .blue{
    -fx-effect: dropshadow(three-pass-box, rgba(12, 21, 136, 0.8), 10, 0, 0, 0);

 }
